<header class="header header-light bg-primary header-sticky mb-4">
    <div class="container-fluid">


        <ul class="header-nav ms-auto me-3">
            <li class="nav-item dropdown d-md-down-none">
                <a class="nav-link show" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    <span class="position-relative">
                        <!-- <i class="fa fa-bell fa-2x"></i> -->
                    </span>
                </a>
             </li>
         <li class="nav-item dropdown d-md-down-none">
                <a class="show" datacoreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar avatar-md">
                        <img class="avatar-img" src="https://coreui.io/demos/bootstrap/4.3/light-v3/assets/img/avatars/8.jpg" alt="user@email.com">
                    </span>
                </a>
             </li>
        
        </ul>
        
        </div>
</header>
<app-toast-inline aria-live="polite" aria-atomic="true"></app-toast-inline>