<header class="header header-light bg-primary header-sticky mb-4">
    <div class="container-fluid">


        <ul class="header-nav ms-auto me-3">
            <li class="nav-item dropdown d-md-down-none">
                <div class="nav-link show cursor-pointer" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    <span class="position-relative">
                        <!-- <i class="fa fa-bell fa-2x"></i> -->
                    </span>
                </div>
             </li>
         <li class="nav-item dropdown d-md-down-none">
                <div class="show cursor-pointer" datacoreui-toggle="dropdown" (click)="onTogglrProfileBar()" role="button" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar avatar-md">
                        <img class="avatar-img" src="https://coreui.io/demos/bootstrap/4.3/light-v3/assets/img/avatars/8.jpg" alt="user@email.com">
                    </span>
                </div>
                <div *ngIf="isProfilebarOptionToggle" class="dropdown-menu dropdown-menu-end pt-0 show" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 42px);">
                    <div class="dropdown-header bg-light py-2 dark:bg-white dark:bg-opacity-10">
                        <div class="fw-semibold">Account</div>
                    </div>
                    <div (click)="onLogOut()" class="dropdown-item cursor-pointer">
                        <i class="fa fa-bell"></i>
                        Logout
                    </div>
                </div>
             </li>
        
        </ul>
        
        </div>
</header>
<app-toast-inline aria-live="polite" aria-atomic="true"></app-toast-inline>