
<div class="align-items-center container d-flex justify-center justify-content-center text-center" style="height: 100vh;">
    <div class="container">
        <h1 class="text-center">Page Not Found😋</h1>
        <div>
            <p>We're sorry, the page you were looking for isn't found here.
                The link you followed may either be broken or no longer exists. Please try again, or take a look at our. <span class="text-danger">404 Error</span></p>

            <a [routerLink]="['../']" class="btn btn-outline-info">Go Back</a>
        </div>
    </div>
</div>