<div class="sidebar sidebar-light sidebar-fixed" style="width: 182px;" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer">

                </div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <li class="nav-item"><a class="nav-link" [routerLink]="['']"> Dashboard</a></li>
                            <li class="nav-group" [ngClass]="{show:userToggle}" aria-expanded="false">
                                <a class="nav-link nav-group-toggle" (click)="userToggle = !userToggle" > Users</a>
                                <ul class="nav-group-items" style="height: auto;">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['user/user-add-update','add']">Users Add</a></li>
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['user/user-list']">Users List</a></li>
                                </ul>
                            </li>
                            <li class="nav-group" [ngClass]="{show:departmentToggle}" aria-expanded="false">
                                <a class="nav-link nav-group-toggle" (click)="departmentToggle = !departmentToggle" > Department</a>
                                <ul class="nav-group-items" style="height: auto;">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['department/add-update','add']">Department Add</a></li>
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['department/list']">Department List</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>